# PORT=5000
# MONGODB_URI=mongodb+srv://aravraj331_db_user:NXYM2YM3KJt3B5dY@cluster0.8q4zqha.mongodb.net/
# JWT_SECRET=hello

# # Password reset email credentials for Nodemailer (update these for your email provider!)
# EMAIL_USER=aravraj331@gmail.com
# EMAIL_PASS=1234

# # The frontend URL, e.g., for password reset redirects
# FRONTEND_URL=http://localhost:5173

# cp .env.example .env
# rs
